<mat-toolbar>
  <mat-toolbar-row>
    <span> Dominikus Dermann </span>
  </mat-toolbar-row>
</mat-toolbar>

<a href="https://dom-dermann.github.io/cookie_munchies/login">
<mat-card style="cursor: pointer; width: 50%; margin: auto; margin-top: 20px;">
  <mat-card-header> Cookie Munchies </mat-card-header>
  <mat-card-content> <img class="preview" src="../../assets/cookies.jpg"> </mat-card-content>
</mat-card>
</a>

<a href="https://play.google.com/store/apps/details?id=de.dominikusdermann.domdermann.timers">
<mat-card style="cursor: pointer; width: 50%; margin: auto; margin-top: 20px; margin-bottom: 30px;">
  <mat-card-header> Egg timer </mat-card-header>
  <mat-card-content> <img src="../../assets/eggtimer.PNG" class="preview"> </mat-card-content>
</mat-card>
</a>
